/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face{font-family:"Obviously Black";src:url(assets/fonts/Obviously-Black.otf) format("opentype")}@font-face{font-family:"Cabin";src:url(assets/fonts/Cabin.ttf) format("truetype");font-weight:400 700;font-style:normal}body{font-family:"Cabin",Arial,sans-serif;text-wrap:balance;font-weight:400}strong{font-weight:700}.ws_wrapper{max-width:1170px;margin:0 auto}header{background:#f9f9f9;border-bottom:1px solid #e7e7e7}.ws_avatar,.ws_achievment ul{display:flex;justify-content:center;align-items:center;gap:1rem;align-content:center;flex-wrap:wrap}.ws_avatar img{max-width:70px;max-height:70px;width:100%;height:auto;border-radius:50%;-o-object-fit:cover;object-fit:cover}.ws_header{display:flex;justify-content:space-between;align-items:center;width:100%;min-height:100px;margin:0 auto;background:#f9f9f9;border-bottom:1px solid #e7e7e7}.ws_hero{text-align:center;padding:3rem 0}h1{font-weight:700;font-size:3rem;line-height:3.5rem;padding-bottom:2rem}h2{font-weight:500;font-size:2.5rem;line-height:2.5rem;padding-bottom:1rem}p{font-weight:400;font-size:1.2rem;line-height:1.9rem;padding-bottom:1rem;color:#575757}.ws_button{background-color:#fff;border-color:green;border-style:solid;border-width:1px;color:green;padding:.5rem 2rem;border-radius:12px;cursor:pointer;transition:opacity .3s,color 1s;text-decoration:none;margin:1rem 0;display:inline-block}.ws_button:hover{background-color:#d3ecd3;color:green}.ws_button:active{opacity:.7}.ws_achievment__certifiate,.ws_achievment__top-rated{position:relative;padding-left:30px;list-style-type:none}.ws_achievment__certifiate::before{content:"";position:absolute;left:0;top:50%;transform:translateY(-50%);width:20px;height:20px;background:url(assets/images/certificate.png) center center/contain no-repeat}.ws_achievment__top-rated::before{content:"";position:absolute;left:0;top:50%;transform:translateY(-50%);width:20px;height:20px;background:url(assets/images/top-rated.png) center center/contain no-repeat}.ws_achievment__certifiate:hover::before{width:25px;height:25px}.hero-test{height:300px;background-image:url(assets/images/sass-test.jpg);background-size:cover;background-position:center;margin:2rem;border-radius:12px}#app{display:grid;grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));gap:2rem;background:#e5e5e5;padding:2rem 0;grid-auto-flow:row;grid-auto-rows:minmax(300px, 1fr);align-items:center;justify-items:center}.ws_app__el{background-color:#3498db;width:100%;aspect-ratio:1/1;max-width:200px;box-sizing:border-box}.ws_app__el img{-o-object-fit:contain;object-fit:contain;width:100%;height:100%;filter:grayscale(100%);transition:transform .4s ease,filter .4s ease}.ws_app__el:hover img{transform:scale(1.1);filter:grayscale(0%)}.ws_apps>article{text-align:center;padding-bottom:3rem}.ws_square{width:100px;height:100px;background:green}

/*# sourceMappingURL=main.a9ceb4fad5d7c38eca86.css.map*/